@using TesteAspNetCore2.Models.User
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model UserModel


@{

    ViewData["Title"] = "ERP";
}


<div class="container">

    <div class="container-fluid">       


         @using (Html.BeginForm("UserAddOrUpdate", "User","post"))
         {


                <fieldset>
                    <legend>Novo usuário</legend>

                    <div class="text-warning">
                        @Html.ValidationSummary("", new  { @class= "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(model => Model.Login, new { AddHtmlAttributeValue = new { @class = "control-label col-md-2" } })
                        @Html.EditorFor(model => Model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(model => Model.Password, new { AddHtmlAttributeValue = new { @class = "control-label col-md-2" } })
                        @Html.EditorFor(model => Model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger" })
                    </div>

                </fieldset>

                <br />
                <button class="btn btn-primary" type="submit">Salvar</button>



        }
        <br>
        <hr>



        <!--
        <form action="UserAddOrUpdate" name="UserForm" method="post" class="form-horizontal">
            
            
            <fieldset>
                <legend>Novo usuário</legend>
                <div class="control-group">

                    <label for="login" class="control-label">Login</label>
                    <div>
                        <input name="login" id="login" class="controls" type="text" maxlength="20" placeholder="Login." />
                    </div>

                    <label for="password" class="control-label">Senha</label>
                    <div>
                        <input name="password" id="password" class="controls" type="password" maxlength="10" placeholder="Senha." />
                    </div>
                    <label for="repeatpassord" class="control-label">Repita Senha</label>
                    <div>
                        <input name="repeatpassord" id="repeatpassord" class="controls" type="password" maxlength="10" placeholder="Senha novamente." />
                    </div>
                </div>

            </fieldset>
                   


            <br>
            <div class="control-group">
                <button class="btn btn-primary controls" type="submit">Salvar</button>
                <button class="btn btn-primary controls" type="button" onclick="window.open('../User','_self')">Voltar</button>

            </div>

            <hr />
            
        </form> -->
    </div>



</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
